{% extends "base.html" %}
{% load staticfiles %}
{%block content%}
						<div class="row 200%">
							<div class="2u 12u$(medium)">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Filter</h3><p>
<input type="checkbox" name="opt[]" value="parken"> die sidebar<br>
<input type="checkbox" name="opt[]" value="internet"> kann man<br>
<input type="checkbox" name="opt[]" value="sauna"> für filter<br>
<input type="checkbox" name="opt[]" value="vegkost"> oder <br>
<input type="checkbox" name="opt[]" value="raucher"> sonstige<br>
</p>
											
										</section>

										<section>
									
															<h3>Options</h3><p>
<input type="checkbox" name="opt[]" value="parken"> benutzen<br>
<input type="checkbox" name="opt[]" value="internet"> oder<br>
<input type="checkbox" name="opt[]" value="sauna"> auch<br>
<input type="checkbox" name="opt[]" value="vegkost"> weglassen<br>
</p>
										</section>

								</div>
							</div>
							<div class="10u 12u$(medium) important(medium)">
								<div id="content">

									<!-- Content -->
										<article>

											<h2>µServices</h2>

											<table class="default">
											<thead>
											<tr>
												<td>Name</td>
												<td>Aktionen</td>
												<td>Typ</td>
												<td>Status</td>
											</tr>
											</thead>
											<tbody>
											{%for service in services%}
											
											<tr>
												<td>{{service.name}}</td>
												<td>Start Stop Restart</td>
												<td>{{service.desc}}</td>
												<td>{{service.status}}</td>
											</tr>
											{%endfor%}
										
											</tbody>
											</table>

										</article>

								</div>
							</div>
						</div>
{%endblock%}