{% extends "base.html" %}
{% load staticfiles %}
{%block content%}
						<div class="row 200%">
							<div class="2u 12u$(medium)">
								<div id="sidebar">

									<!-- Sidebar -->
									<section>
											<h3>Filter</h3><p>
<input type="checkbox" name="opt[]" value="parken"> die sidebar<br>
<input type="checkbox" name="opt[]" value="internet"> kann man<br>
<input type="checkbox" name="opt[]" value="sauna"> für filter<br>
<input type="checkbox" name="opt[]" value="vegkost"> oder <br>
<input type="checkbox" name="opt[]" value="raucher"> sonstige<br>
</p>
											
										</section>

										<section>
									
															<h3>Options</h3><p>
<input type="checkbox" name="opt[]" value="parken"> benutzen<br>
<input type="checkbox" name="opt[]" value="internet"> oder<br>
<input type="checkbox" name="opt[]" value="sauna"> auch<br>
<input type="checkbox" name="opt[]" value="vegkost"> weglassen<br>
</p>
										</section>


								</div>
							</div>
							<div class="10u 12u$(medium) important(medium)">
								<div id="content">

									<!-- Content -->
										<article>

											<h2>Log</h2>
											
											<table class="default">
											<thead>
											<tr>
											    <td>Time</td>
												<td>Name</td>
												<td>Event</td>
												<td>Desc</td>
											</tr>
											</thead>
											<tbody>
											{%for e in entries%}
											
											<tr>
											 <td>{{e.pub_date}}</td>
											   <td>{{e.service}}</td>
												<td>{{e.code}}</td>
												
												<td>{{e.desc}}</td>
											</tr>
											{%endfor%}
											
											</tbody>
											</table>


											<a href="http://localhost:8000/rest/MicroServiceLogEntryViewSet/" class="button icon fa-info-circle">daten mit REST hinzufügen</a>	

										</article>

								</div>
							</div>
						</div>
{%endblock%}